<!-- Wrapper Start -->
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>
              Fearless of risks, undaunted by challenges & embracing innovation
            </p>
          </div>
          <p>
            UniLog Capital LLC is a forward-thinking private equity startup
            focusing on technology-related and alternative investments.
            Committed to delivering exceptional returns, we leverage creative
            strategies in order to maximize opportunities. Our dedication and
            ability to keep track of advanced technology set us apart in the
            pursuit of high-yield investments and value generation for our
            clients.
          </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5">
        <div class="block">
          <img src="images/wrapper-img.png" alt="Img" />
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>
