<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-pie-graph"></i>
          <h4>Portfolio Optimization</h4>
          <p>
            We create a diversified investment strategy that aims to help you
            achieving optimal asset allocation and long-term growth by analyzing
            financial objectives and leveraging diversified algorithms.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-social-buffer"></i>
          <h4>Primary Fund Investment</h4>
          <p>
            We help investors to expand their portfolio with fresh and promising
            investments by offering you direct access to a selected of primary
            market opportunities.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-laptop"></i>
          <h4>High Tech Alternative Investment</h4>
          <p>
            By focusing on investing in tech startups and innovative companies
            with high growth potential, we aim to generate high returns for our
            customers who have a higher risk preference.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Impact Investment</h4>
          <p>
            For investors who want their investments to reflect their values and
            contribute to a better world, we help you to carefully select
            investments that contribute to sustainable and ethical objectives,
            such as renewable energy.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
