<!-- Slider Start -->
<section class="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">A Forward-thinking Private Equity</h1>
          <p class="animated fadeInUp">
            Fearless of risks, undaunted by challenges & embracing innovation.
          </p>
          <a href="contact.html" class="btn btn-main animated fadeInUp"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
